<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.broadcastreceiver1028">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plane"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plane"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



//5新增類別,但manifests不會主動顯示,要去設receiver標籤(5)
        <receiver android:name=".myreceiverClass">
        <intent-filter>
            //<action android:name="android.intent.action.ACTION_AIRPLANE_MODE_CHANGED" />//取得動作的指令(飛航模式)(不明顯故註解改下行)
            <action android:name="android.intent.action.BOOT_COMPLETED" />//(重新啟動)


        </intent-filter>

        </receiver>





    </application>





</manifest>

